img {
    width:250px;
    height:500px;
    background-size: cover;
}

#left-image {
    position: absolute;
    left:0px;
    float:left;
}

#right-image {
    position: absolute;    
    right:0px;
    float:right;
}