img {
    width:250px;
    height:500px;
    background-size: cover;
}

#left-image {
    position: fixed;
    left:0px;
    float:left;
}

#right-image {
    position: fixed;    
    right:0px;
    float:right;
}

#background-image {
    position: fixed;    
    right:0px;
    float:right;
    background: url("assets/Images/background-image.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}