img {
    width:100%;
    height:500px;
    background-size: cover;
}

#left-image {
    position: realtive;
    left:0;
    float:left;
}

#right-image {
    position: relative;
    right:0;
    float:right;
}