img {
    width: auto;
    height: 100px;
    background-size: cover;
    position: relative;
    z-index: 4;
}

.col-centered {
    float: none;
    margin: 0 auto;
    margin-top: 1%;
}

#header-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
}