<div class="container p-4">
  <form (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-6 col-centered">
        <div [formGroup]="userSettingsForm" class="form-group">
          <input placeholder="Name" type="text" formControlName="name" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback" role="alert">
            <div *ngIf="f.name.errors.required">name is required</div>
          </div>
        </div>
        <div [formGroup]="userSettingsForm" class="form-group">
          <input placeholder="Surname" formControlName="surname" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.surname.errors }" />
          <div *ngIf="submitted && f.surname.errors" class="invalid-feedback">
            <div *ngIf="f.surname.errors.required">Surname is required</div>
            <div *ngIf="f.surname.errors.minlength">Surname must be more than 6 characters</div>
          </div>
        </div>
        <div [formGroup]="userSettingsForm" class="form-group">
          <input placeholder="Email" formControlName="email" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
          </div>
        </div>
      </div>
      <div class="col-6 col-centered">
        <div [formGroup]="userSettingsForm" class="form-group">
          <input type="password" placeholder="Current Password" formControlName="oPassword" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.oPassword.errors }" />
          <div *ngIf="submitted && f.oPassword.errors" class="invalid-feedback">
            <div *ngIf="f.oPassword.errors.required">Current password is required</div>
          </div>
        </div>
        <div [formGroup]="userSettingsForm" class="form-group">
          <input type="password" placeholder="New Password" formControlName="nPassword" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.nPassword.errors }" />
          <div *ngIf="submitted && f.nPassword.errors" class="invalid-feedback">
            <div *ngIf="f.nPassword.errors.required">New password is required</div>
          </div>
        </div>
        <div [formGroup]="userSettingsForm" class="form-group">
          <input type="password" placeholder="Confirm Password" formControlName="cPassword" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.cPassword.errors }" />
          <div *ngIf="submitted && f.cPassword.errors" class="invalid-feedback">
            <div *ngIf="f.cPassword.errors.required">Confirm password is required</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-centered">
        <div [formGroup]="userSettingsForm" class="form-group">
          <button type="submit" class="btn btn-block btn-success float-right">Save</button>
        </div>
      </div>
    </div>
  </form>
</div>