#card-list-table {
  width: 100%;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
  display: table;
  border-spacing: 2px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  border: 3px solid black;
  margin: 10px auto;
}

tr {
    display: table-row !important;
    vertical-align: inherit !important;
    border: 2px solid black
  }
td {
display: table-cell !important;
vertical-align: inherit !important;
border: 2px solid black
}

.card-list-title {
  color: #cccccc;
  background-color: #666666;
}
.card-list-ritual {
  background-color: #9db5cc!important;
  color: #000000!important;
}
.card-list-effect {
  background-color: #ff8b53;
  color: #000000;
}
.card-list-fusion {
  background-color: #a086b7!important;
  color: #000000!important;
}
.card-list-xyz {
  color: #ffffff!important;
  background-color: #000000!important;
}
.card-list-synchro {
  background-color: #cccccc!important;
  color: #000000!important;
}
.card-list-spell {
  background-color: #1d9e74!important;
  color: #000000!important;
}
.card-list-trap {
  background-color: #bc5a84!important;
  color: #000000!important;
}
.card-list-link {
  background-color: #006ead!important;
  color: #000000!important;
}
.card-list-normal {
  background-color: #faf0c9!important;
  color: #000000!important;
}
