.card-list-effect {
  background-color: #ff8b53;
  color: #000000;
}
.card-list-fusion {
  background-color: #ff8b53;
  color: #000000;
}
.card-list-xyz {
  background-color: #ff8b53;
  color: #000000;
}
.card-list-synchro {
  background-color: #ff8b53;
  color: #000000;
}
