<div class="card mb-3">
  <h4 class="card-header text-center font-weight-bold text-uppercase py-4">Адреси</h4>
</div>
<div class="container p-4">
  <form (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-6 col-centered">
        <div [formGroup]="userSettingsForm" class="form-group">
          <textarea placeholder="Address" type="text" formControlName="address" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.address.errors }" ></textarea>
          <div *ngIf="submitted && f.address.errors" class="invalid-feedback" role="alert">
            <div *ngIf="f.address.errors.required">Address is required</div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>