<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">История</h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <table class="table table-bordered table-responsive-md table-striped text-center"
        *ngFor="let order of completedOrders; let id = index">
        <tr *ngIf="id === 0">
          <td class="text-center column-1" (click)="sort('Id');">#</td>
          <td class="text-center column-2" (click)="sort('Name');">Имена</td>
          <td class="text-center column-3" (click)="sort('Address');">Адрес</td>
          <td class="text-center column-4" (click)="sort('Date');">Дата</td>
          <td class="text-center column-5" (click)="sort('Phone');">Телефон</td>
          <td class="text-center column-6" (click)="sort('Total');">Общо</td>
          <td class="text-center column-7"></td>
        </tr>
        <tr (click)="toggleProducts(order);">
          <td class="text-center column-1">
            <span>{{order.id}}</span>
          </td>
          <td class="text-center column-2">
            <span>{{order.name}}</span>
          </td>
          <td class="text-center column-3">
            <span>{{order.address}}</span>
          </td>
          <td class="text-center column-4">
            <span>{{order.date}}</span>
          </td>
          <td class="text-center column-5">
            <span>{{order.phone}}</span>
          </td>
          <td class="text-center column-6">
            <span>{{order.total}}</span>
          </td>
          <td class="text-center column-7">
            <span class="table-removeOrder">
              <!-- <button class="my-0 btn btn-danger btn-rounded" (click)="deshipOrder(id)"> &lt;-</button>
          <button class="my-0 btn btn-success btn-rounded">-></button> -->
            </span>
          </td>
        </tr>
        <tr *ngIf='order.products' [ngClass]="{'d-none': !order.showProducts}">
          <td colspan="7" style="background-color: #d6d6d63b">
            <table class="table-striped" style="margin-left: auto;margin-right: auto">
              <tr>
                <td class="text-center">#Nо</td>
                <td class="text-center">Продукт</td>
                <td class="text-center">Брой</td>
                <td class="text-center">Цена</td>
                <td class="text-center">Общо</td>
              </tr>
              <tr *ngFor="let product of order.products; let id = index">
                <td>
                  <span>{{product.id}}</span>
                </td>
                <td>
                  <span>{{product.name}}</span>
                </td>
                <td>
                  <span>{{product.quantity}}</span>
                </td>
                <td>
                  <span>{{product.price}}</span>
                </td>
                <td>
                  <span>{{product.price * product.quantity}}</span>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>