<div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Новини</h3>
    <div class="card-body">
        <div id="table" class="table-editable">
            <span class="table-add float-right mb-3 mr-2">
        <a class="text-success" (click)="add()">
         <img class="add-button" src="assets/Icons/add-button.png"/>
        </a>
      </span>
            <table class="table table-bordered table-responsive-md text-center">
                <tr>
                    <th class="text-center mw-25">Заглавие</th>
                    <th class="text-center mw-40">Съдържание</th>
                    <th class="date-col text-center mw-25">Дата</th>
                    <th class="text-center mw-10">Премахни</th>
                </tr>
                <tr *ngFor="let news of newsList; let id = index">
                    <td class="mw-25">
                        <span (keyup)="changeValue(id, 'title', $event)" (blur)="updateList(id, 'title', $event)" contenteditable="true">{{news.title}}</span>
                    </td>
                    <td class="mw-40">
                        <span (keyup)="changeValue(id, 'content', $event)" (blur)="updateList(id, 'content', $event)" contenteditable="true">{{news.content}}</span>
                    </td>
                    <td class="date-col mw-25">
                        <span class="table-up">
              {{news.date}}
            </span>
                    </td>
                    <td>
                        <span class="table-remove">
                <img class="icon delete-image-button"(click)="remove(id)" src="assets/Icons/delete-icon.svg">
            </span>
                    </td>
                </tr>
            </table>
            <div class="row">
                <div class="col-12 col-centered">
                    <button  (click)="saveNews();" class="btn btn-block btn-success float-right">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>