.news-entry {
    position: relative;
    z-index: 4;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    overflow:hidden;
    background: url('background-image.png');
}
.news-entry-background {
    width:100%;
}

.news-content {
    width: 100%;
    position:absolute;
    top:50px;
}