.news-entry {
    position: relative;
    margin-right: 15%;
    margin-bottom: 20px;
    margin-left: 15%;
    z-index: 4;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    overflow:hidden;
}
.news-entry-background {
    overflow:hidden;
    width:100%;
}

.news-title {
    width: 100%;
    position:absolute;
    top:50px;
}
.news-content {
    position:absolute;
    bottom:20px;
}