.news-entry {
    position: relative;
    z-index: 4;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    overflow:hidden;
    background-color: rgb(29, 172, 219);
}
.news-entry-background {
    overflow:hidden;
    width:100%;
}

.news-content {
    width: 100%;
    /* position:absolute;
    top:50px; */
}