<igx-tabs tabsType="fixed">
  <igx-tabs-group label="Непотвърдени">
    <div id="table" class="table-editable">
      <!-- ТОДО one component for all orders  -->
      <table class="table table-bordered text-center" *ngFor="let category of unconfirmedOrders; let id = index">
        <tr *ngIf="id === 0">
          <td class="text-center column-1">#</td>
          <td class="text-center column-2">Имена</td>
          <td class="text-center column-3">Адрес</td>
          <td class="text-center column-4">Дата</td>
          <td class="text-center column-5">Телефон</td>
          <td class="text-center column-6">Общо</td>
          <td class="text-center column-7">Напред</td>
        </tr>
        <tr (click)="toggleProducts(category);">
          <td class="text-center column-1">
            <span>{{category.id}}</span>
          </td>
          <td class="text-center column-2">
            <span>{{category.name}}</span>
          </td>
          <td class="text-center column-3">
            <span>{{category.address}}</span>
          </td>
          <td class="text-center column-4">
            <span>{{category.date}}</span>
          </td>
          <td class="text-center column-5">
            <span>{{category.phone}}</span>
          </td>
          <td class="text-center column-6">
            <span>{{category.total}}</span>
          </td>
          <td class="text-center column-7">
            <span class="table-confirmOrder">
              <button (click)="confirmOrder(id)" class="my-0 btn btn-success btn-rounded">-></button>
            </span>
          </td>
        </tr>
        <tr [ngClass]="{'d-none': !category.showProducts}">
          <td colspan="7" style="background-color: #d6d6d63b">
            <table *ngIf='category.products' style="margin-left: auto;margin-right: auto">
              <tr>
                <td class="text-center">#Nо</td>
                <td class="text-center">Продукт</td>
                <td class="text-center">Брой</td>
                <td class="text-center">Цена</td>
                <td class="text-center">Общо</td>
              </tr>
              <tr *ngFor="let product of category.products; let id = index">
                <td>
                  <span>{{product.id}}</span>
                </td>
                <td>
                  <span>{{product.name}}</span>
                </td>
                <td>
                  <span>{{product.quantity}}</span>
                </td>
                <td>
                  <span>{{product.price}}</span>
                </td>
                <td>
                  <span>{{product.price * product.quantity}}</span>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
  </igx-tabs-group>
  <igx-tabs-group label="Потвърдени">
    <div id="table" class="table-editable">
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <tr>
          <td class="text-center column-1">#</td>
          <td class="text-center column-2">Имена</td>
          <td class="text-center column-3">Адрес</td>
          <td class="text-center column-4">Дата</td>
          <td class="text-center column-5">Телефон</td>
          <td class="text-center column-6">Общо</td>
          <td class="text-center column-7">Напред</td>
        </tr>
        <tr *ngFor="let category of confirmedOrders; let id = index">
          <td class="text-center column-1">
            <span>{{category.id}}</span>
          </td>
          <td class="text-center column-2">
            <span>{{category.name}}</span>
          </td>
          <td class="text-center column-3">
            <span>{{category.address}}</span>
          </td>
          <td class="text-center column-4">
            <span>{{category.date}}</span>
          </td>
          <td class="text-center column-5">
            <span>{{category.phone}}</span>
          </td>
          <td class="text-center column-6">
            <span>{{category.total}}</span>
          </td>
          <td class="text-center column-7">
            <span class="table-removeOrder">
                <button class="my-0 btn btn-danger btn-rounded" (click) = "unconfirmOrder(id)">&lt;-</button>
                <button (click)="shipOrder(id)" class="my-0 btn btn-success btn-rounded">-></button>
            </span>
          </td>
        </tr>
      </table>
    </div>
  </igx-tabs-group>
  <igx-tabs-group label="Изпратени">
    <div id="table" class="table-editable">
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <tr>
          <td class="text-center column-1">#</td>
          <td class="text-center column-2">Имена</td>
          <td class="text-center column-3">Адрес</td>
          <td class="text-center column-4">Дата</td>
          <td class="text-center column-5">Телефон</td>
          <td class="text-center column-6">Общо</td>
          <td class="text-center column-7">Напред</td>
        </tr>
        <tr *ngFor="let category of shippedOrders; let id = index">
          <td class="text-center column-1">
            <span>{{category.id}}</span>
          </td>
          <td class="text-center column-2">
            <span>{{category.name}}</span>
          </td>
          <td class="text-center column-3">
            <span>{{category.address}}</span>
          </td>
          <td class="text-center column-4">
            <span>{{category.date}}</span>
          </td>
          <td class="text-center column-5">
            <span>{{category.phone}}</span>
          </td>
          <td class="text-center column-6">
            <span>{{category.total}}</span>
          </td>
          <td class="text-center column-7">
            <span class="table-removeOrder">
              <button class="my-0 btn btn-danger btn-rounded" (click) = "deshipOrder(id)"> &lt;-</button>
              <button class="my-0 btn btn-success btn-rounded">-></button>
            </span>
          </td>
        </tr>
      </table>
    </div>
  </igx-tabs-group>
</igx-tabs>