<igx-tabs tabsType="fixed">
  <igx-tabs-group label="Непотвърдени">
    <div id="table" class="table-editable">
      <!-- ТОДО one component for all orders  -->
      <table class="table table-bordered table-responsive-md table-striped text-center"  *ngFor="let category of unconfirmedOrders; let id = index">
        <thead>
          <tr>  
            <th class="text-center">#Nо</th>
            <th class="text-center">Имена</th>
            <th class="text-center">Адрес</th>
            <th class="text-center">Дата</th>
            <th class="text-center">Телефон</th>
            <th class="text-center">Общо</th>
            <th class="text-center">Напред</th>
          </tr>
          <tr>
            <td>
              <span>{{category.id}}</span>
            </td>
            <td>
              <span>{{category.name}}</span>
            </td>
            <td>
              <span>{{category.address}}</span>
            </td>
            <td>
              <span>{{category.date}}</span>
            </td>
            <td>
              <span>{{category.phone}}</span>
            </td>
            <td>
              <span>{{category.total}}</span>
            </td>    
            <td>
              <span class="table-removeOrder">
                <button (click)="confirmOrder(id)" class="my-0 btn btn-success btn-rounded">-></button>
              </span>
            </td>
          </tr>
        </thead>
        <tbody>
              <table *ngIf='category.products'>
                <tr>  
                  <th class="text-center">#Nо</th>
                  <th class="text-center">Продукт</th>
                  <th class="text-center">Брой</th>
                  <th class="text-center">Цена</th>
                  <th class="text-center">Общо</th>
                </tr>
                <tr *ngFor="let product of category.products; let id = index">
                  <td>
                    <span>{{product.id}}</span>
                  </td>
                  <td>
                    <span>{{product.name}}</span>
                  </td>
                  <td>
                    <span>{{product.quantity}}</span>
                  </td>
                  <td>
                    <span>{{product.price}}</span>
                  </td>
                  <td>
                    <span>{{product.price * product.quantity}}</span>
                  </td>
                </tr>
              </table>
        </tbody>
      </table>
    </div>
  </igx-tabs-group>
  <igx-tabs-group label="Потвърдени">
    <div id="table" class="table-editable">
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <tr>  
          <th class="text-center">#Nо</th>
          <th class="text-center">Имена</th>
          <th class="text-center">Адрес</th>
          <th class="text-center">Дата</th>
          <th class="text-center">Телефон</th>
          <th class="text-center">Общо</th>
          <th class="text-center">Напред</th>
        </tr>
        <tr *ngFor="let category of confirmedOrders; let id = index">
          <td>
            <span>{{category.id}}</span>
          </td>
          <td>
            <span>{{category.name}}</span>
          </td>
          <td>
            <span>{{category.address}}</span>
          </td>
          <td>
            <span>{{category.date}}</span>
          </td>
          <td>
            <span>{{category.phone}}</span>
          </td>
          <td>
            <span>{{category.total}}</span>
          </td>
          <td>
            <span class="table-removeOrder">
              <button (click)="shipOrder(id)" class="my-0 btn btn-success btn-rounded">-></button>
            </span>
          </td>
        </tr>
      </table>
    </div>
  </igx-tabs-group>
  <igx-tabs-group label="Изпратени">
    <div id="table" class="table-editable">
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <tr>  
          <th class="text-center">#Nо</th>
          <th class="text-center">Имена</th>
          <th class="text-center">Адрес</th>
          <th class="text-center">Дата</th>
          <th class="text-center">Телефон</th>
          <th class="text-center">Общо</th>
          <th class="text-center">Напред</th>
        </tr>
        <tr *ngFor="let category of shippedOrders; let id = index">
          <td>
            <span>{{category.id}}</span>
          </td>
          <td>
            <span>{{category.name}}</span>
          </td>
          <td>
            <span>{{category.address}}</span>
          </td>
          <td>
            <span>{{category.date}}</span>
          </td>
          <td>
            <span>{{category.phone}}</span>
          </td>
          <td>
            <span>{{category.total}}</span>
          </td>
          <td>
            <span class="table-removeOrder">
              <button class="my-0 btn btn-success btn-rounded">-></button>
            </span>
          </td>
        </tr>
      </table>
    </div>
  </igx-tabs-group>
</igx-tabs>