<div class="container-fluid">
  <div class="row">
    <div class="col-6" style="overflow:hidden">
      <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-6">
          <p class='product-detail-key'>Name:</p>
        </div>
        <div class="col-6">
          <p class='product-detail-value'>{{product.name}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <p class='product-detail-key'>Price:</p>
        </div>
        <div class="col-6">
            <span *ngIf="product.onSalePercent>0" class='product-price'>{{(product.price * product.onSalePercent / 100)}}лв.</span><p class='product-detail-value' [ngClass]="{'text-decoration-line-through': product.onSalePercent == 0}">{{product.price}}лв.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <p class='product-detail-key'>Description:</p>
        </div>
        <div class="col-6">
          <p class='product-detail-value'>{{product.description}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <p class='product-detail-key'>Cards per pack:</p>
        </div>
        <div class="col-6">
          <p class='product-detail-value'>{{product.cardsPerPack}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <p class='product-detail-key'>In Stock:</p>
        </div>
        <div class="col-6">
          <p class='product-detail-value'>{{product.inStock == "1" ? "Yes" : "No"}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <p class='product-detail-key'>Launch Date:</p>
        </div>
        <div class="col-6">
          <p class='product-detail-value'>{{product.launchDate | date:'dd.MM.yyyy'}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <p class='product-detail-key'>Konami Tournament Legal Date:</p>
        </div>
        <div class="col-6">
          <p class='product-detail-value'>{{product.konamiTournamentLegalDate | date:'dd.MM.yyyy'}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <p class='product-detail-key'>Tournament store launch date:</p>
        </div>
        <div class="col-6">
          <p class='product-detail-value'>{{product.tournamentStoreLaunchDate | date:'dd.MM.yyyy'}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <ng-number-picker [(value)]="quantity" [size]='sm'></ng-number-picker>
        </div>
        <div class="col-6">
          <button (click)="addToCart();" class="btn btn-block btn-success float-right">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <span>Коментари</span>
  </div>
  <div class="row" *ngFor='let comment of comments'>
    <div class="row">
      <div class="col-md-2 col-sm-2 hidden-xs">
        <figure class="thumbnail">
          <img class="img-responsive"
            src="http://www.tangoflooring.ca/wp-content/uploads/2015/07/user-avatar-placeholder.png" />
          <span class="text-center">{{comment.username}}</span>
        </figure>
      </div>
      <div class="col-md-10 col-sm-10">
        <div class="panel panel-default arrow left">
          <div class="panel-body">
            <div class="text-left">
              <bar-rating [(rate)]="comment.rating" disabled [max]="5"></bar-rating>
              <span class="comment-date"> {{comment.date}}</span>
            </div>
            <div class="comment-post">
              <p>
                {{comment.content}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!hasUserVoted">
    <div class="col-8">
      <br>
      <div class="row">
        <b>
          <h4>Добави коментар</h4>
        </b>
      </div>
      <div class="row">
        <bar-rating [(rate)]="rate" (rateChange)="updateRating($event);" disabled [max]="5"></bar-rating>
      </div>
      <div class="row">
        <textarea class="form-control" placeholder="Type comment..." type="text" [(ngModel)]="content"
          [ngClass]="{ 'is-invalid': true }"></textarea>

      </div>
      <div class="row">
        <button (click)="postComment();" class="btn btn-block btn-success">Add Comment</button>
      </div>
    </div>
  </div>
</div>