.container {
    width: fit-content;
    width: 100%;
}

.row {
    width: fit-content;
    display:inline-block;
}

img {
    width: fit-content;
    /* height: 200px; */
    padding-top: 100%;
    max-width: 100%;
}

.cart-icon{
    width:25%;
}
.cart-icon:hover{
    filter:opacity(30%);
}

.product-name {
}