.container {
    width: fit-content;
    width: 100%;
}

.row {
    width: fit-content;
}

img {
    width: fit-content;
    /* height: 200px; */
    padding-top: 100%;
    max-width: 100%;
}

.cart-icon{
    display: inline-block;
    /* width: 25%;
    height: auto; */
}
.cart-icon:hover{
    filter:opacity(30%);
}
