/* You can add global styles to this file, and also import other style files */
body {
    font-size: 12px;
}
table, th, td {
    text-align:center
  }

th:hover{
    background-color: #cedcd4;
    cursor: pointer;
}
.form-control {
    font-size: auto!important;
}
