
.column-1 {
  width: 5%;
}
.column-2 {
  width: 15%;
}
.column-3 {
  width: 25%;
}
.column-4 {
  width: 15%;
}
.column-5 {
  width: 15%;
}
.column-6 {
  width: 11%;
}
.column-7 {
  width: 14%;
}


table {
  margin: auto;
}

.table-bordered td,
th {
  word-break: break-word;
}
